*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: var(--full);
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
figure,
ul {
  margin: var(--zero);
}

body {
  min-height: var(--screen-min);
  background: var(--cream);
  color: var(--text);
  font-family: var(--font-b);
  text-rendering: optimizeLegibility;
}

img,
picture {
  display: block;
  max-width: var(--full);
}

a {
  color: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
